#lpcd_iframe {
    width: 100%;
    max-width: 800px;
    height: 600px;
    border: 1px solid black;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}

#character_selector {
    display: block;
    text-align: center;
    margin: auto;
}

#backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 600px;
    background-color: black;
    z-index: 1;
}

#layer_below, #layer_above {
    position: absolute;
    font-size: 32px; /* set em height */
    top: 50%;
    left: 50%;
    margin-left: 0em; /* use this to simulate the player's x coordinate */
    margin-top: 0em; /* use this to simulate the player's y coordinate */
}
#layer_below {
    z-index: 10;
}
#layer_above {
    z-index: 30;
}

#text_overlay {
    z-index: 50;
}

.actor {
    position: absolute;
    font-size: 32px; /* set em height */
    top: 50%;
    left: 50%;
    margin-left: 0em; /* actor.x - player.x */
    margin-top: 0em; /* actor.y - player.y */
    z-index: 20;
}