{% extends "layout.html" %}

{% block extrahead %}
  {{ super() }}

  <script src="http://code.jquery.com/jquery-1.7.2.min.js"
          type="text/javascript"></script>
  <script type="text/javascript" src="{{ pathto('_static/demogame/js/lpcd.js', 1) }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ pathto('_static/demogame/lpcd.css', 1) }}" />
{% endblock %}

{% block body %}
  <br/>
  <iframe draggable="false" id="lpcd_iframe" scrolling="no" frameborder="0"></iframe>
  <br/>
{% endblock %}
